header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;


  height: 400px;
  margin-top: 120px;
  width: 100%;
  background-color: #ebc8e9;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.name {
  font-family: 'Source Sans Pro', sans-serif;

}

.image {
  margin-top: 15px;
  padding-top: 20px;
  color: #ebc8e9;
}

@media only screen and (min-width: 960px) {
  header {
    width: 30%;
    margin-top: 200px;
  }
}