/* button styling */
button{  
background-color: #ebc8e9;
color: white;
font-family: "Bungee", sans-serif;
border: none;
}

button:active {
  transform: scale(0.98);
  box-shadow: 4px 4px 22px 4px rgba(94, 151, 243, 0.24);
}

.button-div{
  display: flex;
  justify-content: space-between;
}

.counter{
  font-family: "Bungee", sans-serif;
}

.pink{
  color: hotpink;
}


/* text styling */
textarea{
background-color: transparent;
border: none;
border-bottom: 2px solid;
width: 100%;
}

label {
  font-weight: bold;
}

.tweet-form{
  display: flex;
  flex-direction: column;
}

.long-validation-error{
  width: 100%;
  border: solid 3px;
  text-align: center;
  color: rgb(226, 151, 179);
  font-weight: bold;
  font-family:'Source Sans Pro', sans-serif;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.empty-validation-error{
  width: 100%;
  border: solid 3px;
  text-align: center;
  color: rgb(226, 151, 179);
  font-weight: bold;
  font-family:'Source Sans Pro', sans-serif;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}